<h2>Por país</h2>
<hr>
<div class = "row">
    <div class = "col">
        <!-- onEnter es el evento onInput que creamos para emitir los datos del input
         y enviarlos al metodo de otro componente. -->
        <app-pais-input (onEnter) = "buscar($event)" (onDebounce) = "sugerencias($event)"></app-pais-input>
    </div>
</div>

<ul class = "list-group">
    <li *ngFor = "let pais of paisesSugeridos" class = "list-group-item list-group-item-action">
        <a [routerLink] ="['/pais', pais.altSpellings[0]]"> 
            {{pais.name.common}}
         </a>
    </li>
</ul>

<hr>

<div *ngIf = "paises.length > 0" class = "row">
    <div class = "col">
        <!-- Al crear un componente padre, este se manda llamar asi -->
        <app-pais-tabla [paises] = "paises"></app-pais-tabla>
    </div>
</div>



<div *ngIf = "hayError" class ="alert alert-danger">
    No hubo resultados en la busqueda con termino {{termino}}
</div>