<h2>Por capital</h2>
<hr>
<div class = "row">
    <div class = "col">
        <!-- onEnter es el evento onInput que creamos para emitir los datos del input
         y enviarlos al metodo de otro componente. -->
        <app-capital-input (onEnter) = "buscar($event)" (onDebounce) = "sugerencias($event)"></app-capital-input>
    </div>
</div>
<hr>

<div *ngIf = "hayError" class ="alert alert-danger">
    No hubo resultados en la busqueda con termino {{termino}}
</div>

<div *ngIf = "capitales.length > 0" class = "row">
    <div class = "col">
        <!-- Al crear un componente padre, este se manda llamar asi -->
        <app-capital-tabla [capitales] = "capitales"></app-capital-tabla>
    </div>
</div>